# API
api/dist/
api/node_modules/
api/.env

# Android
app/local.properties
app/.gradle/
app/build/
app/app/build/
*.apk
*.aab

# IDE
.idea/
app/.idea/
.vscode/
*.swp
*.swo
*~
CL*

# OS
.DS_Store
Thumbs.db
